body {
  background: linear-gradient(to right, #1f379056, #16205376, #4310318a, #6c194f86), url(../imagenes/principal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}


/* Section Buttons */

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;

}

/* .section::before {
    content: "";
    width: 100%;
    min-height: 100vh;
    position:absolute;
    background: -webkit-linear-gradient(to right, #1F3890, #162053, #431031, #6C194F);   Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to right, #1F3890, #162053, #431031, #6C194F);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    top: 75px;
    left: 0;
    opacity: 0.4;
    }
   */

.section .Caja {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 20px 30px 20px 30px;
  background: rgba(22, 101, 111, 0.7);
  box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
  border-radius: 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .section .Caja {
    margin: 20px 15px 20px 15px;
    padding: 15px;
  }
}

.section .Caja:hover {
  background: rgba(32, 186, 203, 0.5);
  transform: scale(1.02);
}

.section .Iconos img {
  margin: 0 auto 20px auto;
  padding-top: 17px;
  width: 200px;
  height: 210px;
}

@media (max-width: 768px) {
  .section .Iconos img {
    padding-top: 5px;
    width: 100px;
    height: 110px;
  }
}

.IconosAmbiente img {
  margin: 0 auto 20px auto;
  padding-top: 17px;
  width: 200px;
  height: 210px;
}

@media (max-width: 768px) {
  .IconosAmbiente img {
    padding-top: 5px;
    width: 100px;
    height: 110px;
  }
}


.BtnReservar,
.BtnMiReserva {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(253, 203, 50, 1) 0%, rgba(244, 56, 98, 1) 100.2%);
  background-image: linear-gradient(109.6deg, rgba(255, 194, 48, 1) 11.2%, rgba(255, 124, 0, 1) 100.2%);
  color: rgb(41, 41, 41);
  background-image: linear-gradient(112.7deg, rgba(253, 185, 83, 1) 11.4%, rgba(255, 138, 0, 1) 70.2%);
  border-radius: 10px;
  padding: 5px;
  border: 2px solid rgb(255, 255, 255);
}

@media (max-width: 768px) {

  .BtnReservar,
  .BtnMiReserva {
    padding: 0 5px;
    font-size: 14px;

  }
}

.BtnReservar:hover,
.BtnMiReserva:hover {
  transform: scale(1.1);
  color: #073642;
}


/*--------------------------------------------------------------
# Bienvenida Section
--------------------------------------------------------------*/
#Bienvenida {
  height: 15vh;
  position: relative;
  background: #111;
}

@media (max-width: 768px) {
  #Bienvenida {
    height: 13vh;
  }
}

#Bienvenida .Bienvenida-container {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#Bienvenida h1 {
  margin: 10px 0 10px 0;
  font-size: 45px;
  font-family: 'Grand Hotel', cursive;
  line-height: 56px;
  color: rgb(250, 250, 250);
}

@media (max-width: 768px) {
  #Bienvenida h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#Bienvenida h2 {
  color: rgb(241, 241, 241);
  margin-bottom: 10px;
  font-size: 15px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: Bold;
}

@media (max-width: 768px) {
  #Bienvenida h2 {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 2px;
  }
}

/*--------------------------------------------------------------
# End Bienvenida Section
--------------------------------------------------------------*/

.navColor {
  background-image: radial-gradient(circle farthest-corner at 18.7% 37.8%, rgba(250, 250, 250, 1) 0%, rgba(225, 234, 238, 1) 90%);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.57);
}

.logou {
  width: 65px;
  height: 65px;
}

.btnCerrar {
  color: black;
  text-decoration: none;
  padding: 8px 8px 8px 0;
  margin-bottom: 8px;
}

.footColor {
  margin-top: 2%;
  padding-bottom: 0.8%;
  background-color: #111;
  padding-top: 1.2%;
  color: #fff;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.socials {
  list-style: none;
  display: flex;
  align-items: center;
  padding-left: 0%;
}

.socials li {
  margin: 0 10px;

}

@media (max-width: 768px) {
  .socials li {
    margin: 0 4px;
    display: flex;
    align-items: center;
  }
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1rem;
  transition: color .3s ease;
}

.socials a:hover {
  color: rgb(116, 111, 111);

}

.cajaReserva {
  min-width: 15rem;
  min-height: 13rem;
}

.hoverTitulo:hover {
  color: #ce591a;
  transition: color .3s ease;
}



/* IMAGEN MAPA AMBIENTES */

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1376px;
}

@media (max-width: 1200px) {
  .modal-content {
    height: auto;
  }
}



/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.closeModal {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.closeModal:hover,
.closeModal:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}