body {
  background: linear-gradient(to right, #1f379056, #16205376, #4310318a, #6c194f86), url(../imagenes/principal.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}

.BodyFont {
  margin: 240px 0;
}

.container {
  background: rgba(22, 101, 111, 0.7);
  box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
  border-radius: 20px;
}

.input-group-append {
  cursor: pointer;
}

.datepicker {
  padding: 20px;
}

.dow {
  padding-left: 10px;
  padding-right: 10px;
}

.day {
  padding-left: 9px;
  padding-right: 9px;
}

.Carta :hover {
  background-color: orange;
}

.Carta:focus {
  background-color: orange;
  border-color: orange;
  box-shadow: 0px 0px 30px orange;
}

.progress {
  max-width: 40%;
}

.cajaAmbiente {
  min-width: 15rem;
}

.CajaReservaE {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  text-align: start;
}

.iconEdit {
  border-radius: 5px;
}

.IconSearch {

  position: absolute;
  right: 9%;
  top: 21%;
  transform: translateY(-15%);
  color: #030303;
  font-size: 20px;
  opacity: 0.4;
}

.IconSearch1 {

  position: absolute;
  right: 16%;
  top: 21%;
  transform: translateY(-15%);
  color: #030303;
  font-size: 20px;
  opacity: 0.4;
}

.campoSearch {
  position: relative;
}

@media (max-width: 576px) {

  .campoSearch {
    width: 70%;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 576px) {

  .campoFiltrar {
    width: 70%;
  }
}

@media (max-width: 576px) {

  .formReserva {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 389px) {

  .formReserva {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 900px) {

  .table-secondary,
  .TextoTam {
    font-size: 12px;
  }
}