.animated-background{
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'josefin',
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    
      background: linear-gradient(
         to right, #1F3890, #162053, #431031, #6C194F);
         background-size: 400% 400%;
         animation: animate-background 15s infinite ease-in-out;
     }
  
@keyframes animate-background {
     0%{
        background-position: 0 50%;
     }
     50%{
        background-position: 100% 50%;
     }
     100%{
        background-position: 0 50%;
     }
}

.elh2{
    color: rgb(216, 150, 83);
 }
 .logou{
    width: 65px;
    height: 65px;
 }
 
 .navColor{
    background-image: radial-gradient( circle farthest-corner at 18.7% 37.8%,  rgba(250,250,250,1) 0%, rgba(225,234,238,1) 90% );
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.57);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: Bold;
    font-size: 20px;
 }
 
 
 .umssPort{
    width: 75%;
    height: 100%;
 }
 
 .margT{
    margin-top: 5.5%;
   
 }
 
 .colorTitulo{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: Bold;
    font-size: 3rem;
    color: #f5f9f9;
 }
 
 .colorP{
    color: #000000;
    letter-spacing: 0.10rem;
    word-spacing: 3px;
    line-height: 1.7rem;
    color: #b2b6c7;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: Bold;
 }
 
 .textInp{
    border-radius: 30px;
    padding: 10px;
    border: 2px solid #6374bd;
    background-color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: Bold;
 }
 
 .btnCol{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(253,203,50,1) 0%, rgba(244,56,98,1) 100.2% );
    background-image: linear-gradient( 109.6deg,  rgba(255,194,48,1) 11.2%, rgba(255,124,0,1) 100.2% );
    color: white;
    background-image: linear-gradient( 112.7deg,  rgba(253,185,83,1) 11.4%, rgba(255,138,0,1) 70.2% );
    border-radius: 30px;
    padding: 10px;
    border: 2px solid white;
 }
 
 .btnCol:hover{
    background-color: #EAF3F6;
    border: 2px solid #636FA4;
 }
 
 .imagen{
    width: 65%;
    height: 50%; 
 } 

 

 .footColor{
    margin-top: 2%;
    padding-bottom: 0.8%;
    background-color: #111;
    padding-top: 1.2%;
    color: #fff;
 }
 
 .socials{
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0%;
 }
 .socials li{
    margin: 0 10px;
 }

 @media (max-width: 768px) {
   .socials li {
     margin:0 4px  }
 }
 
 .socials a{
    text-decoration: none;
    color: #fff;
 }
 .socials a i{
    font-size: 1rem;
    transition: color .3s ease;
 }
 .socials a:hover{
    color: rgb(102, 102, 102);
 }

 .SocialsE{
    font-size: 15px;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
 }

 @media (max-width: 768px) {
   .SocialsE {
     font-size: 8px;
     display: flex;
     align-items: center;
   }
 }
 
 .footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
 }

 @media (max-width: 430px) {
   .imgPad {
     margin-left: 10px;
   }
 }

 .alertaCol{
   list-style-type: none;
 }

 .espAlert{
   padding-right: 16px;
 }

  .LogoMunay img{
   width: 25px;
   height: 25px;
 }

 /* MODAL */

.modal-header{
   border-bottom: 1.3px solid rgba(152, 236, 255, 0.1);
}

.modal-dialog{
      position: relative;
      max-width: 600px;
      width: 100%;
      min-height: max-content;
      margin: 35vh auto;
      box-shadow: 0 0 80px rgba(0, 0, 0, 1), 0 0 0 16px rgba(152, 236, 255, 0.1);
      border-radius: 12px;
      overflow: hidden;
      scroll-behavior: smooth;
      display: flex;
      transition: 0.3s;
}

 .modal-content{
      background-size: cover;
      height: 100%;
      width: 100%;
      flex-shrink: 0;
      color: #fff;
      background-position: center;
      position: relative;
      display: flex;
      
      background: linear-gradient(
        251deg,
        #00b8ff52 -53%,
        rgba(255, 255, 255, 0) 65%
      );
      
      backdrop-filter: blur(30px);
 }

 .close{
    border-radius: 10px;
    background: linear-gradient(
        251deg,
        #00b8ff52 -53%,
        rgba(255, 255, 255, 0) 65%
      );
      box-shadow: 0 0 3px rgba(0, 0, 0, 1), 0 0 0 3px rgba(152, 236, 255, 0.1);
      border-style: none;
      color: #EAF3F6;
 }

 .modal-body{
    display: flex;
    text-align: center;
    justify-content: center;
 }

 /* FIN MODAL */

 /* ICONO EYE PASSWORD */

.CampoContraseña{
   position: relative;
}


 .IconEye {
   
   position: absolute;
   right: 8%;
   top: 28%;
   transform: translateY(-15%);
   color: #030303;
   font-size: 20px;
   opacity: 0.4;
   cursor: pointer;
   font-family: 'Material icons';
}

.IconEye:hover{
   transition: 0.9s;
   opacity: 0.9;
   color: #158a99;
}

/* FIN EYE PASSWORD */