{% extends 'BaseHeaderFooter.html' %}

 {% block title %}
    FormularioAmbiente
 {% endblock %}

{% block content %}
{% load static %}

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script>
  let Ambiente = "";
  function getAmbiente( tipoAmbiente ){
    // document.querySelector(".tipoAmbiente").value = tipoAmbiente; 
    Ambiente = tipoAmbiente;
    console.log(Ambiente)
  };
  function test(){
    console.log("Si esta entrando a la funcion     adsfadfadf");
    let Aula =("{{Aula}}");
    let Laboratorio =("{{Laboratorio}}");
    let Auditorio =("{{Auditorio}}");
    let Materia =("{{Materia}}");
    let Grupo =("{{Grupo}}");
    let Alumno =("{{Alumno}}");
    let Fecha =("{{Fecha}}");
    let Horario =("{{Horario}}");
    let CantPeriodos =("{{CantPeriodos}}");
    let Motivo =("{{Motivo}}"); 
    $.ajax({
        type: "GET",
        url: '/pruebita',
        data: {
            'Aula' : Aula,
            'Laboratorio' : Laboratorio,
            'Auditorio' : Auditorio,
            'Materia' : Materia,
            'Grupo' : Grupo,
            'Alumno' : Alumno,
            'Fecha' : Fecha,
            'Horario' : Horario,
            'CantPeriodos' : CantPeriodos,
            'Motivo' : Motivo,
            'Ambiente' : Ambiente,
        },
    });
  };
  
</script>


<link rel="stylesheet" href="{% static '/css/FormularioReserva.css' %}">


<section class="BodyFont mx-4">
  <div class="container formReserva col-md-7 p-4">
        <h4 class="text-center text-white">Seleccione el tipo de ambiente</h4>
        
    
      
        <div class="row justify-content-center text-center">
          {% if Aula != "No encontre" %}
          <!-- <input type="hidden" name="Ambiente" class="tipoAmbiente"> -->
          <div class="col-sm-3 m-3" onclick="getAmbiente('Aula')">
            <div class="card Carta" tabindex="1">
              <div class="card-body">
                <h4>Aula</h4>
                <h5>{{Aula}}</h5>
              </div>
              <div class="card-img-top"></div>
                <img src="{% static '/imagenes/aula.jpg' %}"  alt="">
              </div>
            </div>
          {% endif %}
    
          {% if Laboratorio != "No encontre" %}
            <div class="col-sm-3 m-3" onclick="getAmbiente('Laboratorio')">
              <div class="card Carta" tabindex="1">
                <div class="card-body">
                  <h4>Laboratorio</h4>
                  <h5>{{Laboratorio}}</h5>
                </div>
                <div class="card-img-top"></div>
                  <img src="{% static '/imagenes/laboratorio.jpeg' %}"  alt="">
                </div>
            </div>
            {% endif %}
    
            {% if Auditorio != "No encontre" %}
              <div class="col-sm-3 m-3" onclick="getAmbiente('Auditorio')">
                <div class="card Carta" tabindex="1">
                  <div class="card-body">
                    <h4>Auditorio</h4>
                    <h5>{{Auditorio}}</h5>
                  </div>
                  <div class="card-img-top"></div>
                    <img src="{% static '/imagenes/auditorio.jpg' %}"  alt="">
                  </div>
              </div>
             {% endif %}
              <div>
                <input type="submit" class="btn btn-secondary col-sm-3" value="Anterior" onclick=history.back()></input>
                <form action="/ReservaExitosa/">
                  <input type="submit" class="btn btn-primary col-sm-3" value="Reservar" onclick=test()></input>
                </form>
              </div>
        </div>
      
    
  </div>

</section>

{% endblock %}