


<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignación de aulas | Inicio</title>

    <!-- <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    
    <link rel="icon" href="{% static '/imagenes/Logo.png' %}">
    <link rel="stylesheet" href="{% static '/css/stilos.css' %}">
    <link rel="stylesheet" href="{% static '/css/efectofooter.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            setTimeout(function() {
                $(".ventana").fadeOut(1500);
            },2000);
         
            // setTimeout(function() {
            //     $(".content2").fadeIn(1500);
            // },6000);
            });
    </script>
</head>


<body class="animated-background d-flex flex-column min-vh-100">
 
    

    <nav class="navbar navbar-expand-lg navbar-light bg-light py-0">
        <div class="container-fluid  navColor">

        <a class="navbar-brand" style="cursor: default;" href="#">
                <img src="{% static '/imagenes/descarga.jpg' %}" alt="Logo" class="img-fluid logou" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
            <div class="collapse navbar-collapse ms-lg-3" id="navbarTogglerDemo03">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item nav-justified">
                            <a class="nav-link active  pe-2 mx-3" aria-current="page" href="#">Inicio</a>
                        </li>
                        <li class="nav-item nav-justified">
                            <a class="nav-link active pe-2 mx-3" href="#" data-toggle="modal" data-target="#exampleModalCenter1">Acerca de </a>
                        </li>
                        <li class="nav-item nav-justified">
                            <a class="nav-link active  pe-2 mx-3" href="#" data-toggle="modal" data-target="#exampleModalCenter2">Contáctanos </a>
                        </li>
                    </ul>
            </div>
        </div>
    </nav>


    <div class="modal fade px-5" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered " role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Acerca de</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p> En Munay Technologies S.R.L., nos gusta lo que hacemos. Aportamos nuestra pasión a nuestro trabajo todos los días, ofreciendo soluciones y superando las expectativas de nuestros clientes. </p>
            </div>
          </div>
        </div>
      </div>
    
    
      <div class="modal fade px-5" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Contáctanos</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p> <strong> E-mail: </strong> MunayTech@gmail.com  <br> <strong> Teléfono: </strong> +591 61612234</p>
            </div>
          </div>
        </div>
      </div>


    <div class="row g-0 align-items-center margT mb-4">
        <div class="col-md-7 px-lg-5 px-md-5 px-sm-5 px-5">
            <div class="row">
                
                <div class="col-12">
                    <h1 class="pb-lg-3 text-start colorTitulo">
                        Bienvenido al gestor de asignación de aulas Munay
                    </h1>
                </div>

                <div class="col-12">
                    <p class="pb-lg-1 mt-4 mb-4 text-start colorP">
                        En donde podrás reservar aulas para la toma de exámenes presenciales de la Facultad de Ciencias y Tecnología de la Universidad Mayor de San Simón
                    </p>
                
                </div>

                <div class="form-group mt-3 col-md-12 col-lg-12 col-xl-12">
                    <div>
                    {% if messages %}
                        <div class="ventana row ">
                        <ul class="messages pe-xl-5 pe-lg-4 pe-md-4 pe-4">   
                        {% for message in messages %}
                            <center><li{% if message.tags %} class="alert alert-{{ message.tags }} alert-danger alert-dismissible fade show alertaCol"{% endif %} role="alert" >{{ message }}</li></center>
                        {% endfor %}
                        </ul>
                        </div>
                    {% endif %}
                    </div>
                </div>

                <form action="/login/" method="POST" class="row">
                    {% csrf_token %}     
                    
                    


                    <div class="col-md-12 col-lg-6 col-sm-12 col-xl-5 mb-3">
                        <input type="text" class="form-control textInp" id="email" name="email"placeholder="Correo electrónico"/>
                    </div>
                    <div class="col-md-12 col-lg-6 col-sm-12 col-xl-4 mb-3 CampoContraseña">
                        <span class="material-icons-outlined IconEye" id="Eye">visibility</span>
                        <input type="password" class="form-control textInp" id="contraseña" name="contraseña" placeholder="Contraseña" />
                        
                    </div>

                    <div class="col-lg-12 col-xl-3" >
                        <center>
                            <input type="submit" class="btn w-75 btnCol" value="Ingresar">
                        </center>
                    </div>  
                </form>
            </div>
        </div>

        <div class="col-md-5 col-sm-12 col-12 ps-0 mt-5">
            <center><img src="{% static '/imagenes/grafico.png' %}" alt="" class='imagen ml-5'></img></center>
        </div>
    </div>

    

    <footer class='footColor mt-auto pb-0'>
        <div class="footer-content mt-2">
            
            <ul class="socials">
                <b class="SocialsE">Otros sitios de interés:</b>
                <li><a href="http://www.umss.edu.bo" title="Universidad Mayor de San Simón" class="SocialsE"> UMSS </a></li>
                <span>|</span>
                <li><a href="http://websiss.umss.edu.bo" title="Sistema de información San Simón" class="SocialsE"> WebSISS</a></li>
                <span>|</span>
                <li><a href="http://www.fcyt.umss.edu.bo" title= "Facultad de Ciencias y Tecnología" class="SocialsE">FCyT</a></li>
                <span>|</span>
                <li><a href="https://www.facebook.com/memiumss" title="Programa MEMI" class="SocialsE"> MEMI </a></li>
                <span>|</span>
                <li><a href="http://enlinea.umss.edu.bo" title="Moodle en Informática & Sistemas" class="SocialsE">Programas Virtuales</a></li>
                <span>|</span>
                <li><a href="http://www.scesi.org" title = "Sociedad Científica de estudiantes de Sistemas e Informática" class="SocialsE">SCESI</a></li>
            </ul>
            <ul class="socials mb-2">
            
                <li><a href="" target="_BLANK"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="" target="_BLANK"><i class="fab fa-instagram"></i></a></li>
                <li><a href="" target="_BLANK"><i class="fab fa-twitter"></i></a></li>
                <span> | </span>
                <div class="LogoMunay mx-2">
                    <img src="{% static '/imagenes/Logo.png' %}" alt="LogoMunay"/>
                </div>
                <span class="txt anim-text-flow pt-1">MUNAY ©2022</span>
            </ul>
            
        </div>
    </footer>

    <!-- <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->
    <!--
     <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
    crossorigin="anonymous"></script>
    
    
    -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" 
    integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" 
    crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" 
    integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" 
    crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="text/javascript">
        $('.txt').html(function(i, html) {
            var chars = $.trim(html).split("");
            return '<span>' + chars.join('</span><span>') + '</span>';
        });
    </script>


<!-- FUNCIÓN PARA MOSTRAR PASSWORD -->
    <script type="text/javascript">
        const iconEye = document.querySelector(".IconEye");
        iconEye.addEventListener("click", function(){
            if(this.nextElementSibling.type === "password"){
            this.nextElementSibling.type = "text";
            }else{
                this.nextElementSibling.type = "password";
            }
    });
    </script>
    <!-- FIN FUNCIÓN -->
</body>
</html>