{% extends 'BaseHeaderFooter.html' %}

 {% block title %}
    FormularioReserva
 {% endblock %}

{% block content %}
{% load static %}

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
      setTimeout(function() {
          $(".ventana").fadeOut(1500);
      },2000);
      });
</script>
<script >
  function cambiar(){
    document.getElementById("alumno").value="";
    let test = document.getElementById("selector").value;
    const $select = document.getElementById("Grupi");
    const datos =  `{%for item in Tupla_Grupo%}{{item.Cod_Grupo}},{{item.Cod_Materia}}:{%endfor%}`;
    // const div = datos.split(':');
    let data = datos.split(':');
    const dataArr = new Set(data);
    let dividido = [...dataArr];

    for (let i = $select.options.length; i >= 0; i--) {
      $select.remove(i);
    }
    $select.innerHTML="<option disabled selected value>Seleccione un Grupo</option>"
    for( i in dividido){
      if(dividido[i].includes(test)){
      const option = document.createElement('option');
      id_Grupo = dividido[i].split(",");
      
      const valor = id_Grupo[0]
      option.value = id_Grupo[0]
      option.text = id_Grupo[0]
      $select.appendChild(option);
      };
    }
  };
  function cambiado(){
    let MateriaSelect = document.getElementById("selector").value;
    let GrupoSelect = document.getElementById("Grupi").value;
    const datos =  "{%for item in Tupla_Grupo%}{{item.Cant_Inscritos}},{{item.Cod_Grupo}},{{item.Cod_Materia}}:{%endfor%}";
    const dividido = datos.split(':');

    for( i in dividido){
      if(dividido[i].includes(MateriaSelect) && dividido[i].includes(GrupoSelect)){
        const cantidad = dividido[i].split(",");
        document.getElementById("alumno").value=cantidad[0];
      };
    }

  };

    function tester(){
      var Motivo = document.getElementById('Motivo').value,
            resultado = document.getElementById('help');
      let MateriaSelect = document.getElementById("selector").value;
      let GrupoSelect = document.getElementById("Grupi").value;
      let alumno = document.getElementById("alumno").value;
      let Fecha = document.getElementById("Fecha").value;
      let Horario = document.getElementById("Horario").value;
      let Periodo = document.getElementById("Periodo").value;
        if (MateriaSelect===""||GrupoSelect ===""||alumno===""||Fecha ===""||Horario===""||Periodo===""){return true}
        if (Motivo === "") {
            //resultado.innerText = "El campo Motivo no puede estar Vacio"; 
            //swal("Error","El campo Motivo no puede estar Vacio","error",{button:"Entendido"});
            alert("El campo Motivo no puede estar Vacio");
            return false;
         } else {
            if(Motivo.length < 10){
              //resultado.innerText = "El Motivo es muy corto"; 
            //swal("Error","El motivo es muy corto","error",{button:"Entendido"})
            alert("El motivo es muy corto")
            return false};

            if(Motivo.length > 300){
            //resultado.innerText = "El Motivo es muy largo";
            //swal("Error","El Motivo es muy largo","error",{button:"Entendido"})
            alert("El motivo es muy largo")
            return false
          } else{
            // swal({title:"Solicitud exitosa",icon:"success",button:"Entendido"})
            //return false
            return true;
            }
        }
      
    };

    function ControlHortario(){
       let horarioSelecionado = document.getElementById("Horario").value 
       let elPeriodo = document.getElementById("Periodo")
       if(horarioSelecionado === "20:15"){
         
         elPeriodo.innerHTML = `
          <option disabled selected value="">Seleccione el periodo</option>
          <option>1</option>
         `
       }else{
          elPeriodo.innerHTML = `
          <option disabled selected value="">Seleccione el periodo</option>
          <option>1</option>
          <option>2</option>
         `
       }
    };
</script>

<link rel="stylesheet" href="{% static '/css/FormularioReserva.css' %}">

<section class="BodyFont mx-4">
  <div class="container-sm progress mb-5 px-0">
    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%"></div>
  </div>

  <div class="container formReserva col-md-7">


  <div class="form-group mt-3 col-md-12 col-lg-12 col-xl-12">
      <div>
      {% if messages %}
          <div class="ventana row ">
          <ul class="messages pe-xl-5 pe-lg-4 pe-md-4 pe-4">   
          {% for message in messages %}
              <center><li{% if message.tags %} class="alert alert-{{ message.tags }} alert-danger alert-dismissible fade show alertaCol"{% endif %} role="alert" >{{ message }}</li></center>
          {% endfor %}
          </ul>
          </div>
      {% endif %}
      </div>
    </div>  

    <form action="/validar/" method="POST" class="row g-3 p-4">
      
      <div class="form-check my-0 ms-2">
        <input class="form-check-input" type="checkbox" value="" id="CheckUrgente" onchange="crearJustificativo('{{rango.Minimo}}')">
        <label class="form-check-label text-white" for="flexCheckDefault">
          Emergencia(*)
        </label>
      </div>

      <!-- <div class="col-md-5 mb-3">
        <label for="formFile" class="form-label text-white"></label>
        <input class="form-control" type="file" id="formFile">
      </div> -->

      <input type="hidden" name="minimoD" id="minimoD" value="{{rango.Minimo}}">
      <input type="hidden" name="maximoD" id="maximoD" value="{{rango.Maximo}}"> 

      {% csrf_token %} 
      <div class="col-md-9 mt-3">
        <label for="inputState" class="form-label text-white">Materia:</label>
        <select id="selector" class="form-select" required name="Materia" onchange=cambiar()>
          <option disabled selected value="">Selecione la Materia</option>
          {% for nombre in tuplita %}

            <option>{{nombre}}</option>
            
          {% endfor %}
        </select>
        
      </div>

      <div class="col-md-3">
        <label for="inputState" class="form-label text-white" >Grupo:</label>
        <select id="Grupi" class="form-select" name="Grupo" required onchange=cambiado()>
          <option disabled selected value="">Seleccione un Grupo</option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="input-label" class="form-label text-white">Cantidad de estudiantes </label>
        <input type="text" id="alumno" name="alumno" placeholder="N° Estudiantes" class="form-control" readonly>
      </div>
    
    
      <div class="col-sm-3">
        <label for="input-label" class="form-label text-white">Fecha:</label>
        <input type="date" name="Fecha" id="Fecha" class="form-control" value="" min="" max="" onchange=horarioActual() required>
    </div>


   
      <div class="col-md-3">
        <label for="inputState" class="form-label text-white">Horario:</label>
        <select id="Horario" class="form-select" required name="Horario" onchange=ControlHortario()>
          <option disabled selected value="">Seleccione el horario</option>
          <option>06:45</option>
          <option>08:15</option>
          <option>09:45</option><option>11:15</option><option>12:45</option>
          <option>14:15</option><option>15:45</option><option>17:15</option>
          <option>18:45</option><option>20:15</option>
        </select>
      </div>

      <div class="col-md-3">
        <label for="inputState" class="form-label text-white">Periodo:</label>
        <select id="Periodo" class="form-select" required name="Periodo">
          <option disabled selected value="">Seleccione el periodo</option>
          <option>1</option>
          <option>2</option>
          
        </select>
      </div>

      <div class="">
        <label for="validationTextarea" class="form-label text-white">Motivo:</label>
        <textarea class="form-control" placeholder="Describa el motivo de su reserva" id="Motivo" name="Motivo"></textarea>
        <div class="invalid-feedback">
        </div>
      </div>

      <div class="" id="justCreate"> 
      </div>

      <input type="hidden" id="Crear" name="Crear" value="Apagado">
      
      <div class="col-12">
        <center><input type="submit" class="btn btn-primary" value="Solicitar reserva" onclick = 'return tester()'></input></center>
      </div>
    </form>
  </div>
</section>

{% endblock %}

{% block scripts %}
<script>
  window.onload = function () {
    //console.log("function called...");
    //alert("automatico")
    var limite = JSON.parse("{{error}}");
    if (limite===2){
      alert("Materia y Grupo ya registrado para este dia")
    }
    if (limite===3){
      alert("Solo se permiten 2 reservas por Materia y Grupo")
    }


  }
</script>
<script src="{% static '/Js/fechaWeekend.js' %}"></script>
<script src="{% static '/Js/fechaLimites.js' %}"></script>
<script src="{% static '/Js/fechaUrgencia.js' %}"></script>
<script src="{% static '/Js/CasosUrgencia.js' %}"></script>

{% endblock %}