{% extends 'BaseHeaderFooter.html' %} 
{% block title %} 
  MiReservaDocente 
{%endblock %} 
{% block content %} 
{% load static %}

<link rel="stylesheet" href="{% static '/css/FormularioReserva.css' %}" />

<section class="BodyFont mx-4">
  <div class="container col-sm-10 col-md-12 col-lg-11 col-xl-9 col-xxl-9 p-4">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true" onclick="cambiarTitulo1()">Reserva</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-white" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" onclick="cambiarTitulo2()">Urgencia</button>
        </li>
        
      </ul>
      <br>
      <h4 class="text-center text-white" id="tituloReservaAdmin">Reservas por orden de llegada</h4>
      <h4 class="text-center text-warning fw-light" id="vacio"></h4>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row  justify-content-center text-center">
                {% for tupla in tarjetas %}
                {% if not tupla.Justificacion %}
                <div class="col-sm-3 m-3 cajaReserva" id="normal" onclick="idTupla('{{tupla.id}}')">
                  <div class="card-group" style="cursor: pointer; height: 100%;">
                    <div class="card" data-toggle="modal" data-target="#{{tupla.id}}">
                      <div class="card-header" style="min-height: 4rem; display: flex; align-items: center; justify-content: center;">
                        {{tupla.Cod_Docente.nombre_Docente}} {{tupla.Cod_Docente.apellido_Docente}}
                      </div>
                      <div class="card-body text-start">
                        <label for="Materia" >Materia: {{tupla.Materia}}</label>
                        <br>
                        <label for="Fecha Reserva" >Fecha Reserva: {{tupla.Fecha_Reserva}}</label>
                        <br>
                        <label for="Horario">Horario: {{tupla.Hora_Reserva}}</label>
                        <br>
                        <label for="CantPeriodos">Cantidad de Periodos: {{tupla.cant_Periodos}}</label>
                        <br>
                        <label for="Grupo">Grupo: {{tupla.Grupo}}</label>
                      </div>
                      <div class="card-footer">
                        {{tupla.Cod_Ambiente}}
                      </div>
                    </div>
                  </div>
                  
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <div class="row  justify-content-center text-center">
            {% for tupla in tarjetas %}
            {% if tupla.Justificacion %}
            <div class="col-sm-3 m-3 cajaAmbiente" id="urgenciaT" onclick="idTupla('{{tupla.id}}')">
              <div class="card-group" style="cursor: pointer;">
                <div class="card" data-toggle="modal" data-target="#{{tupla.id}}">
                  <div class="card-header">
                    {{tupla.Cod_Docente.nombre_Docente}} {{tupla.Cod_Docente.apellido_Docente}}
                  </div>
                  <div class="card-body text-start">
                    <label for="Materia" >Materia: {{tupla.Materia}}</label>
                    <br>
                    <label for="Fecha Reserva" >Fecha Reserva: {{tupla.Fecha_Reserva}}</label>
                    <br>
                    <label for="Horario">Horario: {{tupla.Hora_Reserva}}</label>
                    <br>
                    <label for="CantPeriodos">Cantidad de Periodos: {{tupla.cant_Periodos}}</label>
                    <br>
                    <label for="Grupo">Grupo: {{tupla.Grupo}}</label>
                  </div>
                  <div class="card-footer">
                    {{tupla.Cod_Ambiente}}
                  </div>
                </div>
              </div>
              
            </div>
            {% endif %}
            {% endfor %}
        </div>
        </div>
        
      </div>
    

        
      {% for tupla in tarjetas %}
      <div class="modal" id="{{tupla.id}}"  tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="CajaReservaE row col-11 m-3">

                <label for="Docente" class="col-md-12 text-black"><strong>Nombre docente:</strong> {{tupla.Cod_Docente.nombre_Docente}} {{tupla.Cod_Docente.apellido_Docente}}</label>
                <label for="Materia" class="col-md-12 col-lg-6 text-black"><strong>Materia:</strong> {{tupla.Materia}}</label>
                <label for="Grupo" class="col-lg-2 text-black"><strong>Grupo:</strong> {{tupla.Grupo}}</label>
                <label for="Ambiente" class="col-lg-4 text-black"><strong>Ambiente:</strong> {{tupla.Cod_Ambiente}}</label>
                <label for="FechaReserva" class="col-md-12 col-lg-6 text-black"><strong>Fecha de reserva:</strong> {{tupla.Fecha_Reserva}}</label>
                <label for="Horario" class="col-lg-2 text-black"><strong>Horario:</strong> {{tupla.Hora_Reserva}}</label>
                <label for="CantidadPeriodo" class="col-lg-4 text-black"><strong>Cantidad de Periodos:</strong> {{tupla.cant_Periodos}}</label>
                <label for="Motivo" class="col-md-12 text-black"><strong>Motivo:</strong> {{tupla.motivo}}</label>
                {% if tupla.Justificacion %}
                <label for="Justificación" class="col-md-12 text-black"><strong>Justificación:</strong> {{tupla.Justificacion}}</label>
                {% endif %}
                <br>
                <br>
                <br>
                <label for="FechaSolicitud" class="col-md-12 text-black"><strong>Fecha-Solicitud:</strong> {{tupla.Fecha_Solicitud_Res}} - {{tupla.Hora_Solicitud_Res}}</label>
        
              </div>
            </div>
            <div class="modal-footer justify-content-center">
              <button type="button" id="liminar" class="btn btn-danger col-4" onclick="eliminar()">Eliminar</button>
              <button type="button" class="btn btn-primary col-4" data-dismiss="modal">Aceptar</button>
            </div>
              
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
           
        </div>
    </div>


  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="{% static '/Js/cambiarTitulo.js' %}"></script>

{% endblock %}

{% block scripts %}
<script>
  let existeN = document.getElementById("normal");
  if(existeN){
    console.log("Hay reservas normales");
  }else{
    vacio.textContent = "No hay reservas";
  }
</script>
<script>
    let valor=''
  function idTupla(dato){
    valor=dato
    console.log(valor)
  };
 function eliminar(){
      Swal.fire({
      title: '¿Eliminar reserva?',
      //text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      cancelButtonText: 'Cancelar',
      confirmButtonText: 'Eliminar'
    }).then((result) => {
      if (result.isConfirmed) {
        console.log(valor)
        $.ajax({
        type: "GET",
        url: '/Eliminar',
        data: {
            'Codigo' : valor
          },
        });
        Swal.fire({
        title: '¡Eliminado!',
        icon: 'success',
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Ok'
        }).then((result) => {if (result.isConfirmed) {location.reload()}})
      }
    })
};
</script>
{% endblock %}