{% extends 'BaseHeaderFooter.html' %}

 {% block title %}
     Vista AdminAmbientes
 {% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static '/css/FormularioReserva.css' %}">
<link rel="stylesheet" href="{% static '/css/cssDocente.css' %}">
<link rel="stylesheet" href="{% static '/css/cssMapa.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">


<section class="section ">
<div class="container formReserva col-md-7 my-5">
      
    <h3 class="text-center text-white mt-3">Ambientes</h3>

    

<div class="row justify-content-center align-items-center mb-4">
    <div class="col-lg-4 col-md-7 col-sm-7 campoFiltrar">
      <select class="form-select mb-4" id="filtro" onclick="buscador()">
        <option disabled selected value>Filtrar por:</option>
        <option value="A">Todos</option>
        <option value="AUD">Auditorio</option>
        <option value="LAB">Laboratorio</option>
        <option value="AUC">Aula</option>
      </select>
    </div>
    <div class="col-lg-4 col-md-7 col-sm-7 campoSearch">
        <input class="form-control" id="BuscarAmb" type="text" placeholder="Buscar por capacidad">
        <span class="bi bi-search IconSearch" onclick="buscarCapacidad()" onk></span>
    </div>
    
</div>

    <table id="myTable" class="table table-light mb-5" style="max-width:70%; margin: auto; border-radius: 8px; overflow: hidden;">
        <thead class="table-secondary">
            <tr>
              <th onclick="sortTable(0, 'int')" scope="col" class="hoverTitulo col-sm-1" id="iconRow" style="cursor: pointer;"># <i id="icon" class="bi bi-arrow-down position-absolute"></i></th>
              <th onclick="sortTable(1, 'str')" scope="col" class="hoverTitulo col-sm-2" id="iconRow1" style="cursor: pointer;">Nombre <i id="icon1" class="bi bi-arrow-down position-absolute"></i></th>
              <th onclick="sortTable(2, 'str')" scope="col" class="hoverTitulo col-sm-1" id="iconRow2" style="cursor: pointer;">Tipo <i id="icon2" class="bi bi-arrow-down position-absolute"></i></th>
              <th onclick="sortTable(3, 'int')" scope="col" class="text-center hoverTitulo col-sm-2" id="iconRow3" style="cursor: pointer;">Capacidad <i id="icon3" class="bi bi-arrow-down position-absolute"></i></th>
            </tr>
          </thead>
          <tbody id="Lista">
              {% for tupla in Ambientes %}
              <tr>
                <td scope="row" style="font-weight: bold;">{{ forloop.counter }}</td>
                <td>{{tupla.Cod_Aula}}</td>
                <td>{{tupla.Tipo_Aula}}</td>
                <td class="text-center" id="{{ forloop.counter }}">{{tupla.Cant_Estudiante}}</td>
              </tr>
              {% endfor %}
          </tbody>
    </table>
  
    <div class="mb-4"> 

        <center><img id="myImg" src="{% static '/imagenes/MapaAmbientes.jpg' %}" alt="Mapa" style="width:100%;max-width:300px"></center>
    
    </div>
    
    <!-- The Modal -->
    <div id="myModal" class="modal1 container-fluid">
        <span class="closeModal1">&times;</span>
        <img class="modal-content1" id="img01">
        <div id="caption"></div>
    </div>

</div>



</section>

<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="bi bi-arrow-up-short"></i></button>


{% endblock %}
{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    function buscador() {
        reset(0, 'int');
        var select = document.getElementById('filtro');
        var value = select.options[select.selectedIndex].value; 
        if(value === 'AUC' || value === 'LAB' || value === 'AUD' || value === 'A'){
            limpiar();
            document.getElementById('BuscarAmb').value = '';
            value = value.toLowerCase();
            $("#Lista tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        };
        
    }
</script>
<script>
function reset(n,type) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
     
      table = document.getElementById("myTable");
      switching = true;
      dir = "asc";
     
      while (switching) {
        switching = false;
        rows = table.rows;
        for (i = 1; i < (rows.length - 1); i++) {
          shouldSwitch = false;
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          if (dir == "asc") {
            if ((type=="str" && x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) || (type=="int" && parseFloat(x.innerHTML) > parseFloat(y.innerHTML))) {
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if ((type=="str" && x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) || (type=="int" && parseFloat(x.innerHTML) < parseFloat(y.innerHTML))) {
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          switchcount ++;
        } else {
          if (switchcount == 0 && dir == "asc") {
            dir = "asc";
            switching = false;
          }
        }
      }
    };

function buscarCapacidad() {
  document.getElementById('filtro').getElementsByTagName('option')[0].selected = 'selected';
  reset(0, 'int');
  let valorBuscador = document.getElementById('BuscarAmb').value;
  valorBuscador = parseInt(valorBuscador);
  let cont = 1;
  $("#Lista tr").filter(function() {
     let capa = parseInt(document.getElementById(cont).textContent);
      $(this).toggle(capa >= valorBuscador);
      cont = cont + 1;
  });
  cont = 1;
  sortTable(3, 'int');
  limpiar();
};
  </script>

<script>
    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("closeModal1")[0];
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    }
</script>
<script>
  let focusId = document.getElementById("iconRow");
  let focusNombre = document.getElementById("iconRow1");
  let focusTipo = document.getElementById("iconRow2");
  let focusCapacidad = document.getElementById("iconRow3");
  let iconofocus1 = document.getElementById("icon");
  let iconofocus2 = document.getElementById("icon1");
  let iconofocus3 = document.getElementById("icon2");
  let iconofocus4 = document.getElementById("icon3");
  
  pintar(focusId,focusNombre,focusTipo,focusCapacidad,iconofocus1,iconofocus4,iconofocus3,iconofocus2);
  pintar(focusNombre,focusId,focusTipo,focusCapacidad,iconofocus2,iconofocus1,iconofocus4,iconofocus3);
  pintar(focusTipo,focusNombre,focusId,focusCapacidad,iconofocus3,iconofocus2,iconofocus1,iconofocus4);
  pintar(focusCapacidad,focusTipo,focusNombre,focusId,iconofocus4,iconofocus3,iconofocus2,iconofocus1);

  function pintar(pintado1,pintado2,pintado3,pintado4,focus1,focus2,focus3,focus4){
    pintado1.addEventListener("click",()=>{
    if(pintado1.style.cssText === "cursor: pointer;"){
      pintado1.style = "cursor: pointer; color:#ce591a";
      pintado2.style = "cursor: pointer;";
      pintado3.style = "cursor: pointer;";
      pintado4.style = "cursor: pointer;";
      focus2.className = "bi bi-arrow-down position-absolute";
      focus3.className = "bi bi-arrow-down position-absolute";
      focus4.className = "bi bi-arrow-down position-absolute";
    }else{
      pintado1.style = "cursor: pointer;";
    }

  });
  };
  function limpiar(){
        focusId.style = "cursor: pointer;";
        iconofocus1.className = "bi bi-arrow-down position-absolute";
        focusNombre.style = "cursor: pointer;";
        iconofocus2.className = "bi bi-arrow-down position-absolute";
        focusTipo.style = "cursor: pointer;";
        iconofocus3.className = "bi bi-arrow-down position-absolute";
        focusCapacidad.style = "cursor: pointer;";
        iconofocus4.className = "bi bi-arrow-down position-absolute";
    };
</script>
<script>
  let wage = document.getElementById("BuscarAmb");
  wage.addEventListener("keydown", function (e) {
      if (e.code === "Enter") {
          buscarCapacidad();
      }
});
</script>

  <script src="{% static '/Js/ScrollTop.js' %}"></script> 
  <script src="{% static '/Js/flechasFiltrar.js' %}"></script>
  <script src="{% static '/Js/funcionSortTable.js' %}"></script>
{% endblock %}