{% extends 'BaseHeaderFooter.html' %}

 {% block title %}
     Vista AdminAmbientes
 {% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static '/css/FormularioReserva.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">


<section class="section ">
<div class="container formReserva col-md-7">
      
    <h3 class="text-center text-white mt-3">Ambientes</h3>
<div class="row justify-content-center align-items-center mb-4">
    <div class="col-md-4">
      <select class="form-select mb-4" id="filtro" onclick="buscador()">
        <option disabled selected value>Filtrar por:</option>
        <option value="AUD">Auditorio</option>
        <option value="LAB">Laboratorio</option>
        <option value="AUC">Aula</option>
      </select>
    </div>
    <div class="col-md-3">
        <input class="form-control"  id="BuscarAmbiente" type="text" placeholder="Buscar Ambiente">
    </div>
    
</div>
    <table class="table table-light mb-5" style="max-width:70%; margin: auto;">
        <thead class="table-secondary">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Tipo</th>
              <th scope="col"><center>Capacidad</center></th>
              <th scope="col">Editar</th>
            </tr>
          </thead>
          <tbody id="Listita">
              {% for tupla in Ambientes %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{tupla.Cod_Aula}}</td>
                <td>{{tupla.Tipo_Aula}}</td>
                <td><center>{{tupla.Cant_Estudiante}}</center></td>
                <td><button class="bi bi-pencil-square iconEdit " data-toggle="modal" data-target="#modalAmbientes"></button></td>
              </tr>
              {% endfor %}
          </tbody>
    </table>
  
</div>

<div class="modal fade px-5" id="modalAmbientes" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle1"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p> </p>
        </div>
      </div>
    </div>
  </div>
    
</section>

{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"></script>

<script>
  function buscador() {    
        var select = document.getElementById('filtro');
        var value = select.options[select.selectedIndex].value; 
        if(value === 'AUC' || value === 'LAB' || value === 'AUD'){
            document.getElementById('BuscarAmbiente').value = '';
            value = value.toLowerCase();
            $("#Listita tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        } 
    }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#BuscarAmbiente").on("keyup", function() {
          document.getElementById('filtro').getElementsByTagName('option')[0].selected = 'selected';
            var value = $(this).val().toLowerCase();
            $("#Listita tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
  </script>
{% endblock %}