{% extends 'BaseHeaderFooter.html' %}

 {% block title %}
     Vista AdminAmbientes
 {% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static '/css/FormularioReserva.css' %}">
<link rel="stylesheet" href="{% static '/css/cssDocente.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">


<section class="section ">
<div class="container formReserva col-md-7 my-5">
      
    <h3 class="text-center text-white mt-3">Ambientes</h3>
<div class="row justify-content-center align-items-center mb-4">
    <div class="col-lg-4 col-md-7 col-sm-7 campoFiltrar">
      <select class="form-select mb-4" id="filtro" onclick="buscador()">
        <option disabled selected value>Filtrar por:</option>
        <option value="A">Todos</option>
        <option value="AUD">Auditorio</option>
        <option value="LAB">Laboratorio</option>
        <option value="AUC">Aula</option>
      </select>
    </div>
    <div class="col-lg-4 col-md-7 col-sm-7 campoSearch">
       
        <input class="form-control"  id="BuscarAmbiente" type="text" placeholder="Buscar Ambiente" >
        <span class="bi bi-search IconSearch" ></span>
    </div>
    
</div>
    <table id="myTable" class="table table-light mb-5 TablaMedia" style="max-width:70%; margin: auto;">
        <thead class="table-secondary">
            <tr>
              <th onclick="sortTable(0, 'int')" scope="col" class="hoverTitulo col-sm-1" id="iconRow" style="cursor: pointer;"># <i id="icon" class="bi bi-arrow-down position-absolute"></i></th>
              <th onclick="sortTable(1, 'str')" scope="col" class="hoverTitulo col-sm-2" id="iconRow1" style="cursor: pointer;">Nombre <i id="icon1" class="bi bi-arrow-down position-absolute"></i></th>
              <th onclick="sortTable(2, 'str')" scope="col" class="hoverTitulo col-sm-1" id="iconRow2" style="cursor: pointer;">Tipo <i id="icon2" class="bi bi-arrow-down position-absolute"></i></th>
              <th onclick="sortTable(3, 'int')" scope="col" class="text-center hoverTitulo col-sm-1" id="iconRow3" style="cursor: pointer;">Capacidad <i id="icon3" class="bi bi-arrow-down position-absolute"></i></th>
              <th scope="col" class="col-sm-1">Editar</th>
            </tr>
          </thead>
          <tbody id="Listita">
              {% for tupla in Ambientes %}
              <tr>
                <td scope="row" style="font-weight: bold;">{{ forloop.counter }}</td>
                <td>{{tupla.Cod_Aula}}</td>
                <td>{{tupla.Tipo_Aula}}</td>
                <td class="text-center">{{tupla.Cant_Estudiante}}</td>
                <td><button class="bi bi-pencil-square iconEdit " data-toggle="modal" data-target="#modalAmbientes" onclick="setId('{{tupla.id}}','{{tupla.Cod_Aula}}','{{tupla.Tipo_Aula}}','{{tupla.Cant_Estudiante}}')"></button></td>
              </tr>
              {% endfor %}
          </tbody>
    </table>
  
</div>

<!-- MODAL ! -->
<div class="modal fade px-5" id="modalAmbientes" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Editar ambiente</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="mb-3 row">

            <div class="row g-3 align-items-center">
              <div class="col-md-4">
                <label for="EditarAmbientes" class="col-form-label">Ambientes:</label>
              </div>
              <div class="col-md-5">
                <input type="text" id="EditarAmbientes" value="" class="form-control">
              </div>
            </div>
          

            <div class="row g-3">
              <div class="col-md-4">
                <label for="EditarTipo" class="col-form-label">Tipo:</label>
              </div>
              <div class="col-md-5">
                <select class="form-select" id="EditarTipo">
                  <option disabled selected value>Seleccionar tipo:</option>
                  <option value="AUC">AUC</option>
                  <option value="LAB">LAB</option>
                  <option value="AUD">AUD</option>
                </select>
              </div>
            </div>

            <div class="row g-3 align-items-center">
              <div class="col-md-4">
                <label for="EditarCapacidad" class="col-form-label">Capacidad:</label>
              </div>
              <div class="col-md-5">
                <input type="number" min="0" id="EditarCapacidad" value="" class="form-control">
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer justify-content-center">
          <button type="button" id="cancelar" class="btn btn-secondary col-4" data-dismiss="modal" >Cancelar</button>
          <button type="button" class="btn btn-primary col-4" data-dismiss="modal" onclick="guardarCambios()">Guardar</button>
        </div>

      </div>
    </div>
  </div>
    
</section>



{% endblock %}

{% block scripts %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css"></script>

<script>
  function buscador() {    
        var select = document.getElementById('filtro');
        var value = select.options[select.selectedIndex].value; 
        if(value === 'AUC' || value === 'LAB' || value === 'AUD' || value === 'A'){
            document.getElementById('BuscarAmbiente').value = '';
            value = value.toLowerCase();
            $("#Listita tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
    };
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#BuscarAmbiente").on("keyup", function() {
          document.getElementById('filtro').getElementsByTagName('option')[0].selected = 'selected';
            var value = $(this).val().toLowerCase();
            $("#Listita tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
  </script>
  <script>
    let id = '';
    let amb = '';
    let tipo = '';
    let est = '';
    function setId(a,b,c,d){
      id = a;
      amb = b;
      tipo = c;
      est = d;
      document.getElementById('EditarAmbientes').value = amb;
      document.getElementById('EditarCapacidad').value = est;
      document.getElementById('EditarTipo').value = tipo;
    };
    function guardarCambios(){
      let Ambiente = document.getElementById('EditarAmbientes').value
      let Capacidad = document.getElementById('EditarCapacidad').value
      let TipoAmb = document.getElementById('EditarTipo').value
     if(Ambiente != '' && Capacidad != ''){
          Swal.fire({
          title: '¿Está seguro de guardar los cambios?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          cancelButtonText: 'Cancelar',
          confirmButtonText: 'Aceptar'
        }).then((result) => {
          if (result.isConfirmed) {
            $.ajax({
            type: "GET",
            url: '/editarAmbiente',
            data: {
                'id' : id,
                'ambiente' : Ambiente,
                'tipo' : TipoAmb,
                'size' : Capacidad
              },
            });
            Swal.fire({
            title: '¡Datos guardados exitosamente!',
            icon: 'success',
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Ok'
            }).then((result) => {
                if (result.isConfirmed) {
                    location.reload();
                }
            })
          }
        })
        }else{
          Swal.fire({
          title: '¡Error los campos no pueden ir vacios!',
          icon: 'warning',
          confirmButtonColor: '#3085d6',
          confirmButtonText: 'Aceptar'
        })
        }
    };
  </script>
  <script src="{% static '/Js/flechasFiltrar.js' %}"></script>
  <script src="{% static '/Js/funcionSortTable.js' %}"></script>
{% endblock %}