{% extends 'BaseHeaderFooter.html' %}

 {% block title %}
     Vista DocenteAdmin
 {% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/css/FormularioReserva.css' %}">



<section class="section ">
<div class="container formReserva col-md-7">
      
    <h3 class="text-center text-white pt-3">Docentes</h3>
      
    <input class="form-control align-items-center" style="max-width:70%; margin: auto;"  id="BuscarDoc" type="text" placeholder="Buscar docente..">
    <br>
    <table id="myTable" class="table table-light mb-5" style="max-width:70%; margin: auto;">
        <thead class="table-secondary">
            <tr>
              <th onclick="sortTable(0, 'int')" scope="col" style="cursor: pointer;">#</th>
              <th onclick="sortTable(1, 'str')" scope="col" style="cursor: pointer;">Apellido</th>
              <th onclick="sortTable(2, 'str')" scope="col" style="cursor: pointer;">Nombre</th>
              <th onclick="sortTable(3, 'str')" scope="col" style="cursor: pointer;">Correo</th>
            </tr>
          </thead>
          <tbody id="Lista">

            {% for tupla in Docentes %}
              <tr>
                <td scope="row" style="font-weight: bold;">{{ forloop.counter }}</td>
                <td>{{tupla.apellido_Docente}}</td>
                <td>{{tupla.nombre_Docente}}</td>
                <td>{{tupla.email}}</td>
              </tr>
            {% endfor %}
          </tbody>
    </table>
  
</div>
</section>
 
  </body>



  </html>


{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $("#BuscarDoc").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#Lista tr").filter(function() {
                $(this).toggle($(this).text()
                .toLowerCase().indexOf(value) > -1)
            });
        });
    });
  </script>
  
  <script src="{% static '/Js/funcionSortTable.js' %}"></script>
{% endblock %}