{% extends 'BaseHeaderFooter.html' %}

 {% block title %}
     Vista Docente
 {% endblock %}

{% block content %}
{% load static %}



<section class="section">
  <div class="container ">
    <div class="row">
      <div class="col-md-6 col-lg-6  ">
        <div class="Caja">
          <div class="Iconos">
              <img src="{% static '/imagenes/Ajustes.png' %}" alt="Reservar">
          </div>
          <button type="button" class="col-xxl-3 col-xl-4 col-lg-5 col-md-8 col-sm-4 col-4 btn text-white BtnReservar" onclick = "location.href='#';" >Ajustes</button>
        </div>
      </div>

      <div class="col-md-6 col-lg-6  ">
        <div class="Caja">
          <div class="Iconos">
              <img src="{% static '/imagenes/Reservas.png' %}" alt="MiReserva">
          </div>
          <button type="button" class="col-xxl-3 col-xl-4 col-lg-5 col-md-8 col-sm-4 col-4 btn text-white BtnMiReserva" onclick= "location.href='/ReservasAdmin/';" >Ver reservas</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-6  ">
        <div class="Caja">
          <div class="Iconos">
              <img src="{% static '/imagenes/Docentes.png' %}" alt="MiReserva">
          </div>
          <button type="button" class="col-xxl-3 col-xl-4 col-lg-5 col-md-8 col-sm-4 col-4 btn text-white BtnMiReserva" onclick= "location.href='#';" >Docentes</button>
        </div>
      </div>
      <div class="col-md-6 col-lg-6  ">
        <div class="Caja">
          <div class="Iconos">
              <img src="{% static '/imagenes/Ambientes.png' %}" alt="MiReserva">
          </div>
          <button type="button" class="col-xxl-3 col-xl-4 col-lg-5 col-md-8 col-sm-4 col-4 btn text-white BtnMiReserva" onclick= "location.href='#';" >Ambientes</button>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
